
$main-color:rgb(33 186 117);
$hover-main-color:#059669;

body{
    font-family: cursive;
} 

@font-face {
    font-family:Pacifico ;
    src: url("../assets/fonts/Pacifico-Regular.ttf") format('truetype');
    
}
h1{
    font-family: 'Pacifico';
    
}
.meal{
  margin-bottom: 80px;
 background-color: white;
 border-radius: 30px;
display: flex;
justify-content: end;
align-items: center;
text-align: center;
position: relative;
gap: 10px;
flex-direction: column;
padding: 20px;
transition: all 0.4s ease;
&:hover{
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
     transform:scale( 1.05);
     img{
        transform: rotate(360deg);
        transition: transform 0.4s ease;
     }
}
}

.mealImage{
position: absolute;
top: -40px;
left: 50%;
translate: -50%;
  box-shadow: 0 20px 19px rgba(0, 0, 0, 0.15);
  
   
    border-radius: 50%;
}
.mealTitle{
    font-size: larger;
    font-weight: bold;
   
  text-align: center;
   
}
@mixin button($padding,$radius,$color){
    display: inline-block;
    padding:$padding;
     cursor: pointer;
    transition: all 0.4s ease;
    border-radius: $radius;
    color: $color;
}
.btnCategory {
    @include button(8px 18px,20px ,rgb(75, 85, 99) );
 
  border: 1px solid #9ca3af;
  background: transparent;

  &:hover {
    background: #F9FAFB ;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  }
}

.btnMeal{
    @include button(8px,30px ,white );
    background-color: $main-color;
    width: 150px;
    font-weight: bold;
  
      &:hover{
        background-color: $hover-main-color;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
     transform:scale( 1.05);
    
      }
}